/* 
css modules CSS 모듈을 이용하면 CSS 클래스 스타일의 유효 범위를 React 컴포넌트로 제한하고 NextJS 프로젝트에서 바로 사용할 수 있습니다
CSS 파일 이름을 이렇게 .module.css로 끝나도록 설정하면 이 파일을 특수한 방식으로 자바스크립트 파일에서 import합니다, 
CSS 파일에서 정의된 CSS 스타일은 이 컴포넌트로 유효 범위가 제한됩니다 적어도 CSS 클래스를 선택자로 사용한다면요
*/

.detail {
  // text-align: center;

  img {
    width: 100%;
  }

  .detail__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;

    h1 {
      font-size: 48px;
      font-weight: 700;
      padding: 20px 0;
    }

    address {
      font-size: 18px;
      padding: 10px 0;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.form {
  padding: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  margin-right: 20px;
}
