.detail {
  text-align: center;

  img {
    width: 100%;
  }

  .detail__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;

    h1 {
      font-size: 48px;
      font-weight: 700;
      padding: 20px 0;
    }

    address {
      font-size: 18px;
      padding: 10px 0;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
