@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

/* stylelint-disable selector-class-pattern */
.button {
  margin: 5px;
  color: colors.$BLACK;
  background-color: #fff;
  border: sizes.$BORDER;
  cursor: pointer;

  color: balck;
  font-weight: bold;

  &:hover {
    color: #fff;
    background-color: colors.$BLACK;
  }

  @include responsive.between(0px, 771px) {
    font-size: 14px;
  }
}

.md {
  width: 160px;
  height: 50px;
  border-radius: sizes.$BORDER_RADIUS_SM;

  font-size: 18px;

  box-shadow: sizes.$BOX_SHADOW_SM;

  @include responsive.between(0px, 771px) {
    font-size: 16px;
  }
}

.lg {
  width: 250px;
  height: 55px;
  border-radius: sizes.$BORDER_RADIUS_SM;

  font-size: 22px;

  box-shadow: sizes.$BOX_SHADOW_SM;

  @include responsive.between(0px, 771px) {
    font-size: 18px;
  }
}
