@import 'base/reset';
@import 'base/fonts';
@import 'base/more';
@import 'constants/colors';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $BACKGROUND;
  color: $BLACK;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: 'Lato', sans-serif;
// }
