@use 'styles/mixins/_responsive';

.layout {
  $self: #{&};
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include responsive.after(772px) {
    & {
      flex-direction: row;
    }
  }
}

.main {
  margin-top: 30px;
  width: 90%;
  height: 100vh;
  max-width: 40rem;

  align-self: center;
  @include responsive.between(772px, 1264px) {
    & {
      margin-left: 120px;
    }
  }

  @include responsive.after(1265px) {
    & {
      margin-left: 315px;
    }
  }
}

.main_nav {
}
