@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.main-nav {
  $self: #{&};
  width: 100%;
  height: 50px;
  background-color: colors.$BACKGROUND;
  margin-top: 30px;

  display: flex;
  position: fixed;
  bottom: 0;

  @include responsive.after(772px) {
    & {
      width: 110px;
      height: 90vh;
      flex-direction: column;
      top: 0;
    }
  }

  @include responsive.after(1265px) {
    & {
      width: 310px;
      padding-right: 20px;
    }
  }

  :global {
    #{$self}__list {
      // mobile
      width: 100%;
      display: flex;
      justify-content: space-around;

      // tablet, pc
      @include responsive.after(772px) {
        & {
          margin: 10px 0;
          flex-direction: column;
        }
      }
    }

    #{$self}__item {
      width: 100%;

      display: flex;

      @include responsive.between(772px, 1264px) {
        & {
          padding: 16px 0;
          justify-content: center;
        }
      }

      @include responsive.after(1265px) {
        & {
          padding: 12px 10px;
          margin: 10px 0;
          align-items: center;

          font-size: 24px;
          color: colors.$BLACK;
        }
      }
    }

    #{$self}__item--pc {
      display: none;

      @include responsive.after(1265px) {
        display: block;
      }
    }
  }
}

.logo {
  $self: #{&};
  display: none;
  margin: 20px 0;

  @include responsive.after(772px) {
    display: block;
  }

  :global {
    #{$self}__text {
      font-size: 36px;
      font-weight: 700;
      color: colors.$BLACK;
    }

    // #{$self}__text--tablet {
    //   display: block;
    //   font-size: 36px;
    //   font-weight: 700;
    //   color: colors.$BLACK;

    //   @include responsive.between(772px, 1264px) {
    //     display: none;
    //   }
    // }
  }
}

.profile {
  $self: #{&};
  position: absolute;
  bottom: 50px;
  font-size: 20px;
  padding: 0 20px;

  display: none;

  @include responsive.between(772px, 1264px) {
    display: block;
    text-align: center;
  }

  @include responsive.after(772px) {
    display: block;
  }

  :global {
    #{$self}__name {
      font-size: 30px;
      padding-right: 5px;
    }
  }
}

.auth-btn {
  $self: #{&};
  display: none;
  position: absolute;
  bottom: 0;
  left: 20px;

  @include responsive.after(772px) {
    display: block;
    width: 90%;
    left: 0;
    text-align: center;
  }

  @include responsive.after(1265px) {
    left: 20px;
    text-align: left;
  }

  :global {
    #{$self}__text {
      font-size: 24px;
      font-weight: 400;
      color: colors.$BLACK;
      padding: 0 10px 0 0;

      display: none;

      @include responsive.after(1265px) {
        display: inline-block;
      }
    }
  }
}
