@use 'styles/mixins/responsive';
@use 'styles/constants/colors';
@use 'styles/constants/sizes';

.login__title {
  font-size: 34px;
  font-weight: 900;
  margin-bottom: 25px;
  @include responsive.after(772px) {
    display: none;
  }
}
.login__form {
  .control {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 20px 0;

    label {
      display: block;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 0.5rem;
      width: 160px;

      @include responsive.between(0px, 771px) {
        display: none;
      }
    }

    input {
      padding: 10px 15px;
      height: 55px;
      display: block;
      border-radius: 8px;
      border: sizes.$BORDER;
      width: 65%;
      font-weight: bold;

      @include responsive.between(0px, 771px) {
        width: 100%;
      }
    }
  }

  .login__button {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
  }
  .login__loading {
    text-align: center;
    font-weight: 800;
    font-size: 24px;
  }
}

.error_message {
  text-align: center;
  color: red;
  padding: 5px 0;
}
